student {
    display: block;
    background-color: beige;
    padding: 25px;
}

student *{
    display: flex;
    flex-direction: column;
}
name *{
    display: flex;
    padding-bottom: 10px;
}

name::before {
    content: "Name:";
    font-weight: bold;
}

first_name {
    padding-bottom: 0px;
}

preferred_name::before {
    font-weight: bold;
    content: "Preferred Name:" ;
}

contact *{
    padding-bottom: 10px;
}

email::before {
    font-weight: bold;
    content: "Email:";
}

phone::before {
    font-weight: bold;
    content: "Phone:";
}

student_stats *{
    padding-bottom: 10px;
}

gpa::before {
    font-weight: bold;
    content: "GPA:";
}

major::before {
    font-weight: bold;
    content: "Major:";
}

minor::before {
    font-weight: bold;
    content: "Minor:";
}

year::before {
    font-weight: bold;
    content: "Year:";
}

status::before {
    font-weight: bold;
    content: "Status:";
}

advisor::before {
    font-weight: bold;
    content: "Advisor:";
}

initial_enrollment::before {
    font-weight: bold;
    content: "Initial Enrollment Date:";
}

graduation_date::before {
    font-weight: bold;
    content: "Graduation Date:";
}